.audio__info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto 0;
  padding-top: 30px;
}

.audio__info .audio__control.btn__play {
  order: 1;
}

.audio__timer.current_postition {
  order: 2;
}

.audio__title {
  order: 3;
  font-size: 0.625rem;
  text-align: center;
}

.audio__timer.duration {
  order: 4;
}

.audio__control.btn__mute {
  order: 5;
}