#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 0;
}
.radio {
  background: #FBFBFB;
  border-radius: 14px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.radio__selections_wrap {
  margin-top: 47px;
  margin-bottom: 70px;
}


@media screen and (max-width:430px) {
  .radio {
    width: 100%;
  }
}