.audio__control {
  width: 1rem;
  height: 1rem;
}

.audio__control.btn__play {
  overflow: hidden;
}

.audio__control.btn__play::before {
  content: '';
  width: inherit;
  height: inherit;
  display: block;
  background: #A8A9B3;
  transition: all 0.3s ease;
}

.audio__control.btn__play:disabled::before {
  background: #D1D3DF;
}

.audio__control.btn__play.play::before {
  transform: rotateZ(45deg) translateX(-50%) translateY(50%);
}

.audio__control.btn__mute {
  position: relative;
  overflow: hidden;
}

.audio__control.btn__mute::before {
  transition: all 1s ease;
  opacity: 0;
}



.audio__control.btn__mute.mute::before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 150%;
  right: 0;
  top: 0;
  font-weight: bold;
  background: #A8A9B3;
  transform: rotate(45deg);
  transform-origin: 50% 0;
  z-index: 1;
  opacity: 1;
}

@media screen and (max-width:430px) {
  .audio__control {
    width: 1.5rem;
    height: 1.5rem;
  }
}